---
layout: default
---
<div class="bg-header">
  {% include header.html %}
</div>

<p>
<bold>
  Our <a href="https://drive.google.com/drive/u/0/folders/1ApqWWDnlnvvO4Jieka-IzyTNUz-l_2k4">Google Drive</a> contains full detailed copies of our research, policy documents, governance frameworks including citations. Visit our <a href="https://github.com/archaivgovhack/archaivgovhack.github.io">GitHub</a> for all code, including this website, webscraper, and LLM document retrevial code.
</bold>
</p>



<div class="content-post">
  <div class="size margin">
    {% include posts.html %}
  </div>
</div>
